<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Show Task</title>
</head>
<style>
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .element {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .col {
    flex-direction: column;
  }

  .input {
    width: 80%;
  }

  .title {
    justify-content: flex-start;
    font-size: large;
  }

  .sub-task {
    box-shadow: 1px solid blue;
    justify-content: flex-start;
  }

  .parent-switch {
    width: auto;
    height: auto;
    /* display: flex;
      justify-content: center;
      align-self: center; */
  }

  textarea {
    width: 100%;
  }
</style>

<body>
  <div class="main-container" id="mainInfoPanel">
    <div class="element title">
      <span>#${task.workItemId}</span>
      <!-- <input type="text" name="title" value="${task.title}" /> -->
      <span class="parent-switch">
        <span data-switch data-class="test" data-type="text" data-name="title">${task.title}</span>
      </span>
    </div>
    <div class="element col">
      <span class="subtitle">Importance</span>
      <select name="importanceLevel">
        <option value="1">Test 1</option>
        <option value="2">Test 2</option>
      </select>
    </div>
    <div class="element col">
      <span class="subtitle">Estimated Cost</span>
      <span class="parent-switch">
        <span data-switch data-type="text" data-name="estimatedCost">${task.estimatedCost}</span>
      </span>
      <!-- <input type="text" name="estimatedCost" value="${task.estimatedCost}" /> -->
    </div>
    <div class="element col">
      <span class="subtitle">Description</span>
      <span class="parent-switch">
        <span data-switch data-type="textarea" data-name="description">
          ${task.description}
        </span>
      </span>
      <!-- <textarea name="description" cols="30" rows="10"></textarea> -->
    </div>
  </div>
  <div class="main-container">
    <div class="element title">
      <span>Sub-Tasks</span>
      <span id="addTask">+</span>
    </div>
    <div id="subtasks">
      <div class="element sub-task">
        <input type="checkbox" name="isCompleted" data-subTaskId="152" />
        <span class="parent-switch">
          <span data-switch data-subTaskId="152" data-type="text" data-name="title">${ subTask.title }</span>
        </span>
        <!-- <input
            data-subTaskId="152"
            type="text"
            name="subtask-1"
            value="${ subTask.title }"
          /> -->
      </div>
      <div class="element sub-task">
        <input type="checkbox" name="isCompleted" data-subTaskId="12" />
        <span class="parent-switch">
          <span data-switch data-subTaskId="12" data-type="text" data-name="title">${ subTask.title }</span>
        </span>
        <span data-delete data-subTaskId="12">
          XXX
        </span>
        </span>
        <!-- <input
            data-subTaskId="12"
            type="text"
            name="subtask-2"
            value="${ subTask.title }"
          /> -->
      </div>
    </div>
  </div>
  <script>
    const vscode = acquireVsCodeApi();

    function updateTask() {
      vscode.postMessage({
        command: "updateTask",
        params: {
          projectId: task.projectId,
          taskId: task.taskId,
          title : task.title,
          importanceLevel: task.importanceLevel,
          estimatedCost: task.estimatedCost,
          description: task.description
        }
      })
    }


    function updateNewSubtask(subtask) {
      let index = task.subtasks.findIndex(subtask => subtask.subTaskId === "0");
      task.subtasks[index].subTaskId = subtask.subTaskId.toString();
      let elems = document.querySelectorAll('[data-subtaskid="0"]')
      elems.map(x => x.setAttribute("data-subTaskId", subtask.subTaskId.toString()))
      console.log(task)
    }

    function updateSubtask(subTask) {
      let index = task.subtasks.findIndex(sb => sb.subTaskId === subTask.subTaskId);
      vscode.postMessage({
        command: "updateSubTask",
        params: {
          projectId: task.projectId,
          taskId: task.taskId,
          subTask
        }
      })
    }

    function deleteSubtask(e) {
      let subTaskId = e.target.getAttribute('data-subTaskId');
      let index = task.subtasks.findIndex(x => x.subTaskId === subTaskId);
      vscode.postMessage({
        command: "deleteSubTask",
        params: {
          projectId: task.projectId,
          taskId: task.taskId,
          subTask: task.subtasks[index]
        }
      })
      task.subtasks.splice(index, 1);
      e.target.parentElement.remove();
    }

    document.addEventListener("DOMContentLoaded", () => {
      let deleteSubTasks = document.querySelectorAll('span[data-delete][data-subtaskid]');
      deleteSubTasks.map(x => {
        addEventListener('click', deleteSubtask)
      })
      window.addEventListener('message', message => {
        switch (message.data.command) {
          case "createNewSubTaskResponse":
            updateNewSubtask(message.data.params.newSubTask)
        }
      })
      let switchInputs = document.querySelectorAll("span[data-switch]");
      [...switchInputs].map((span) => {
        span.addEventListener("click", spanToInput);
      });

      document.querySelector("select").addEventListener("change", (e) => {
        task.importanceLevel = parseInt(e.target.value, 10);
        console.log(task);
      });

      let checkboxSubtasks = document.querySelectorAll(
      "input[type='checkbox']"
    );
    [...checkboxSubtasks].map((checkbox) =>
      checkbox.addEventListener("change", (e) => {
        console.log(e);
        let id = parseInt(e.target.getAttribute("data-subTaskId"), 10);
        let index = task.subtasks.findIndex((x) => x.subTaskId === id);
        task.subtasks[index].isCompleted = e.target.checked;
        updateSubtask(task.subtasks[index])
        console.log(task)
      })
    );

    document.getElementById('addTask').addEventListener('click', () => {
      let newSubtask = {
        subTaskId: "0",
        title: "",
        isCompleted: false
      };
      task.subtasks.push(newSubtask);
      let div = document.createElement("div");
      div.setAttribute("class", "element sub-task");
      let checkbox = document.createElement("input");
      checkbox.setAttribute("type", "checkbox");
      checkbox.setAttribute("name", "isCompleted");
      checkbox.setAttribute('data-subTaskId', "0");
      div.appendChild(checkbox);
      let parentSwitch = document.createElement('span');
      parentSwitch.setAttribute("class", "parent-switch");
      let input = document.createElement("input");
      input.setAttribute("type", "text");
      input.setAttribute('data-subTaskId', '0');
      input.setAttribute('name', "title");
      parentSwitch.appendChild(input);
      div.appendChild(parentSwitch);
      let spanDelete = document.createElement('span');
      spanDelete.setAttribute('data-subTaskId', "0");
      spanDelete.setAttribute('data-delete');
      div.appendChild(spanDelete);
      document.getElementById("subtasks").prepend(div);
      input.focus();
      input.addEventListener("blur", inputToSpan);
    })


    })


    const task = {
      projectId: "${task.projectId}",
      taskId: "${task.taskId}",
      title: "${task.title}",
      importanceLevel: "${task.importanceValue.importanceValueId}",
      estimatedCost: "${task.estimatedCost}",
      description: "${task.description}",
      subtasks: [
        {
          subTaskId: 12,
          title: "",
          isCompleted: false,
        },
        {
          subTaskId: 152,
          title: "",
          isCompleted: false,
        },
      ],
    };

    function createNewSubTask(subTask) {
      vscode.postMessage({
        command: "createNewSubTask",
        params: {
          projectId: task.projectId,
          taskId: task.taskId,
          subTask
        }
      })
    }

    function handleEstimatedCostFromInput(e) {
      const match = e.target.value.match(/(\d+)h?(?:\s(\d+)(?:m)?)?/);
      let value = 0;
      let h = 0;
      let m = 0;
      console.log(match);
      if (match) {
        value = parseInt(match[1], 10);
        if (parseInt(match[2], 10) < 61) {
          m = parseInt(match[2], 10);
          value += m / 60;
        } else if (parseInt(match[2], 10) > 60) {
          h = Math.trunc(parseInt(match[2], 10) / 60);
          value += h;
          m = parseInt(match[2], 10) % 60;
          value += m / 60;
        }

        return {
          text: `${Math.trunc(value)}h${m > 0 ? " " + m + "m" : ""}`,
          value,
        };
      }
      return {
        text: "0h",
        value: 0,
      };
    }

    function spanToInput(e) {
      console.log("e", e);
      let isTextarea = e.target.getAttribute("data-type") === "textarea";
      let input = isTextarea
        ? document.createElement("textarea")
        : document.createElement("input");
      if (!isTextarea) {
        input.setAttribute("type", e.target.getAttribute("data-type"));
        input.setAttribute("value", e.target.innerHTML);
      } else input.innerHTML = e.target.innerHTML;
      if (e.target.getAttribute("data-class"))
        input.setAttribute("class", e.target.getAttribute("data-class"));
      if (e.target.getAttribute("data-subTaskId")) {
        input.setAttribute(
          "data-subTaskId",
          e.target.getAttribute("data-subTaskId")
        );
      }
      input.setAttribute("name", e.target.getAttribute("data-name"));
      let parentElement = e.target.parentElement;
      parentElement.firstElementChild.remove();
      parentElement.appendChild(input);
      input.focus();
      input.addEventListener("blur", inputToSpan);
    }

    function inputToSpan(e) {
      console.log(e);
      let isTextarea = e.target.tagName === "TEXTAREA";
      let newSpan = document.createElement("span");
      newSpan.setAttribute("data-switch", "");
      newSpan.setAttribute("data-class", e.target.className);
      newSpan.setAttribute(
        "data-type",
        isTextarea ? "textarea" : e.target.tagName.toLowerCase()
      );
      if (e.target.getAttribute("data-subTaskId")) {
        newSpan.setAttribute(
          "data-subTaskId",
          e.target.getAttribute("data-subTaskId")
        );
      }
      newSpan.setAttribute("data-name", e.target.name);
      if (e.target.name === "estimatedCost") {
        let result = handleEstimatedCostFromInput(e);
        task[e.target.name] = result.value;
        newSpan.innerHTML = result.text;
      } else if (e.target.getAttribute("data-subTaskId")) {
        let subtaskId = e.target.getAttribute("data-subTaskId");
        let index = task.subtasks.findIndex(
          (x) => x.subTaskId === subtaskId
        );
        if (index > -1) task.subtasks[index].title = e.target.value;
        newSpan.innerHTML = e.target.value;
        if (e.target.getAttribute('data-subTaskId') === "0") createNewSubTask(task.subtasks[index])
        else updateSubtask(task.subtasks[index])
      } else {
        task[e.target.name] = e.target.value;
        newSpan.innerHTML = e.target.value;
      }
      console.log("task", task);
      let parentElement = e.target.parentElement;
      parentElement.firstElementChild.remove();
      parentElement.appendChild(newSpan);
      newSpan.addEventListener("click", spanToInput);
    }




  </script>
</body>

</html>